﻿@model DevOps535.Models.bookManager

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>bookManager</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Author_Name" class="control-label"></label>
                <input asp-for="Author_Name" class="form-control" />
                <span asp-validation-for="Author_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book_Title" class="control-label"></label>
                <input asp-for="Book_Title" class="form-control" />
                <span asp-validation-for="Book_Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image_url" class="control-label"></label>
                <input asp-for="Image_url" class="form-control" />
                <span asp-validation-for="Image_url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <!---
            <div class="form-group">
                <label asp-for="display_expiry" class="control-label"></label>
                <input asp-for="display_expiry" class="form-control" />
                <span asp-validation-for="display_expiry" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <label asp-for="book_id" class="control-label"></label>
                <input asp-for="book_id" class="form-control" />
                <span asp-validation-for="book_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

